<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TEST</h1>
    <a href="/logout"><h1>LOGOUT</h1></a>
    <% games.forEach((el) => { %>
        <p><%= el.name %></p>
        <p><%= el.category %></p>
        <p><%= el.price %></p>
        <img src="<%= el.image %>" alt="image">
        <iframe width="640" height="360" src="<%= el.trailer %>"></iframe>
    <% }) %>
</body>
</html>